.news__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px 60px;
    background-color: #FFFFFF;
    gap: 40px;
}

.news__page-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 825px;
    gap: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.news__page-img {
    width: 825px;
}

.news__page-subtitle {
    padding-top: 22px;
    color: #222222;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.news__page-par {
    color: #222222;
    font-size: 16px;
    font-weight: 300;
    line-height: 14.4px;
}

.news__page-hr {
    width: 684px;
    height: 1px;
    background-color: #F8F5F4;

}

.news__page-text {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.news__page-text>ul {
    padding: 12px 40px;

}

.news__page-text>ul li {
    padding-bottom: 12px;
}

@media (width <=1120px) {
    .news__page {
        padding: 60px 60px;
        gap: 40px;
    }

    .news__page-content {
        max-width: 525px;
    }

    .news__page-img {
        width: 525px;
    }

    .news__page-hr {
        width: 334px;
        height: 1px;
        background-color: #F8F5F4;
    }
}

@media (width <=640px) {

    .news__page {
        padding: 40px 24px;
        gap: 40px;
    }

    .news__page-content {
        max-width: 335px;
    }

    .news__page-img {
        width: 335px;
    }

    .news__page-hr {
        width: 204px;
    }

    .news__page-text>ul {
        padding: 8px 30px;
    }
}

@media (width <=382px) {
    .news__page-content {
        max-width: 275px;
    }

    .news__page-img {
        width: 275px;
    }

    .news__page-hr {
        width: 144px;
    }
}