@media (max-width: 1920px) {
    .reviews__links {
        justify-content: center;
        padding-left: 0px;
    }
}

@media (max-width: 1452px) {
    .reviews__links {
        padding-left: 0px;
        justify-content: flex-start;
    }

    .services__card {
        margin: 0px 69px;
    }

    .footer__hr {
        width: 100%;
    }

    .copyright__container {
        width: 100%;
    }
}

@media (max-width: 1362px) {

    .main__content-par {
        width: 100%;
    }

    .about__company__img img {
        width: 515px;
    }

    .about__company-par {
        width: 100%;
    }

    .lawyers-swiper {
        margin: 0px 69px;
    }

    .reviews__links {
        padding-left: 0px;
    }

    .footer__subtitle {
        max-width: 662px;
    }
}


@media (max-width: 1312px) {
    .about__company__img {
        display: none;
    }

    .active-modal {
        top: 10%;
        left: 60%;
    }

    .modal {
        max-width: 425px;
    }

    .lawyers {
        padding: 80px 0px 80px 69px;
    }

    .lawyers__description {
        margin-right: 69px;
    }

    .lawyers__par, .news__par, .services__par {
        max-width: 696px;
    }

    .news {
        background-color: #FFFFFF;
        padding: 80px 0px 80px 69px;
    }

    .reviews {
        padding: 80px 0px 80px 69px;
    }

    .reviews__content {
        padding-right: 69px;
    }

}

@media (max-width: 1294px) {

    main {
        padding-top: 60px;
    }

    .main__menu__content {
        padding: 18px 69px;
    }

    .main__content {
        padding: 120px 69px;
    }

    .main__menu-par {
        font-size: 22px;
    }

    .main__menu-span {
        font-size: 16px;
    }

    .main__content-subtitle {
        font-size: 24px;
    }

    .main__content-title {
        font-size: 50px;
    }

    .main__content-par {
        font-size: 18px;
    }

    .main__content-btn {
        padding: 48px 0 60px 0;
    }

    .services__title, .lawyers__title {
        font-size: 24px;
    }

    .services__content {
        max-width: 272px;
    }

    .services__item {
        padding: 30px 32px 40px 32px;
    }

    .services__subtitle {
        line-height: 120%;
    }

    .about__company {
        padding: 60px 69px;
    }

    .about__company-title, .reviews__title, .news__title {
        font-size: 24px;
    }

    .about__company__links, .reviews__links {
        margin-top: 36px;
    }

    .lawyers {
        padding: 60px 0px 60px 69px;
    }

    .reviews {
        padding: 60px 0px 60px 69px;
    }

    /* .main__menu__nav, */
    .footer__desc {
        display: none;
    }

    .news {
        padding: 60px 0px 60px 69px;
    }

    .news__description {
        margin: 0 69px 0 0;
    }

    .news-btn {
        margin: 0 69px 0 0;
    }

    .footer {
        padding: 60px 69px;
    }

    .footer__top {
        justify-content: start;
        width: 100%;
        padding-bottom: 24px;
    }

    .footer__content {
        gap: 16px;
    }

    .footer__logo-heading {
        line-height: 32px;
    }

    .footer__logo-span {
        line-height: 30px;
    }

    .footer__connection-link {
        font-size: 14px;
        line-height: 21px;
        flex-wrap: wrap;
        display: inline-flex;
        width: 160px;
    }

    .footer__support-par {
        max-width: 334px;
    }
}

@media (max-width: 1142px) {
    .menu__burger {
        display: flex;
    }

    .main__menu__nav {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999999999;
        overflow-y: auto;
        background-color: #222222;
        padding: 50px 26px;
        animation: burgerAnimation .5s;
        transition: all 0.5s ease-in-out;
    }

    .main__menu-list {
        gap: 24px;
        flex-direction: column;
    }

    .main__menu-list>li>a {
        font-size: 16px;
    }

    @keyframes burgerAnimation {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }
}

@media (max-width: 1052px) {
    .active-modal {
        top: 10%;
        left: 50%;
    }
}

@media (max-width: 1024px) {
    .services__span {
        font-weight: 300;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
    }

    .swiper {
        max-width: 944px;
        margin: 0 69px 0 69px;
    }

    .news__card {
        max-width: 336px;
    }

    .news__img img {
        max-width: 336px;
    }

    .news__date-hr {
        width: 70%;
    }
}

@media (max-width: 970px) {
    .footer__navigation {
        display: none;
    }

}

@media (max-width: 855px) {
    .active-modal {
        top: 20%;
        left: 22%;
    }
}

@media (max-width: 749px) {
    .menu {
        padding: 16px 24px;
    }

    .top__menu-adaptive {
        display: none;
    }

    .main__menu__content {
        padding: 16px 24px 19px 24px;
    }

    .main__content {
        padding: 60px 24px;
    }

    .main__content-subtitle {
        font-size: 18px;
        line-height: 21.6px;
    }

    .main__content-title {
        font-size: 30px;
        line-height: 45px;
    }

    .main__content-par {
        font-size: 16px;
        line-height: 24px;
    }

    .main__content-btn {
        padding: 32px 0 60px 0;
    }

    main {
        padding-top: 40px;
    }

    .services {
        margin: 0px 24px;
    }

    .services__par, .lawyers__par, .news__par {
        width: 100%;
        padding: 16px 0px 24px 0px;
        font-size: 14px;
    }

    .services__card {
        margin: 0px 24px;
    }

    .services__item {
        padding: 24px 16px 32px 16px;
    }

    .services__subtitle {
        width: 218px;
    }

    .services__span {
        width: 218px;
    }

    .main__content-btn {
        padding: 30px 0 40px 0;
    }

    .about__company {
        padding: 40px 24px;
    }

    .about__company-title, .reviews__title, .news__title {
        font-size: 20px;
    }

    .about__company__links, .reviews__links {
        margin-top: 40px;
    }

    .lawyers {
        padding: 40px 0px 40px 24px;
    }

    .lawyers__description {
        margin-right: 24px;
    }

    .services__title, .lawyers__title {
        font-size: 20px;
    }

    .reviews {
        padding: 40px 24px 40px 24px;
    }

    .reviews__content {
        padding-right: 0px;
        padding-bottom: 24px;
    }

    .reviews__item {
        padding: 24px;
    }

    .reviews__subject {
        font-size: 18px;
    }

    .about__company__links, .reviews__links {
        margin-top: 24px;
    }

    .news {
        padding: 40px 0px 40px 24px;
    }

    .news__description {
        margin: 0 24px 0 0;
    }

    .news__subtitle {
        font-size: 14px;
        line-height: 21px;
    }

    .news__date-hr {
        width: 240px;
    }

    .news-btn {
        margin: 0 24px 0 0;
        padding-top: 80px;
    }

    .lawyers-swiper {
        margin: 0px 24px;
    }

    .footer {
        padding: 40px 24px;
    }

    .footer__main {
        width: 100%;
        padding-top: 24px;
    }

    .footer__logo-heading {
        line-height: 42px;
        margin-bottom: -10px;
    }

    .footer__connection a {
        font-size: 14px;
        line-height: 21px;
    }

    .footer__icon {
        padding: 11px 10px 10px 11px;
        width: 45px;
        height: 45px;
        display: flex;
    }

    .copyright {
        padding: 16px 24px;
    }

    .copyright__container {
        display: flex;
        width: 100%;
        gap: 8px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 679px) {
    .modal {
        max-width: 365px;
        padding: 22px 32px;
    }

    .modal__title {
        font-size: 22px;
        line-height: 32px;
        padding-bottom: 14px;
    }

    .form__label {
        font-size: 16px;
    }

    .modal__form {
        gap: 14px;
    }

    input[type="checkbox"] {
        margin-right: 6px;
    }

    .footer__connection-link {
        width: 100%;
    }

    .footer__top {
        justify-content: center;
    }

    .footer__support {
        padding-top: 40px;
    }

    .footer__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 462px) {
    .about__company__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal {
        max-width: 345px;
        padding: 22px 22px;
    }

    .active-modal {
        top: 20%;
        left: 8%;
    }

    .reviews__icon {
        display: none;
    }

    .reviews__avatar img {
        width: 50px;
    }

    .reviews__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reviews__arrow {
        display: none;
    }

    .lawyers__content {
        height: 235px;
    }
}

@media (max-width: 402px) {

    .modal {
        max-width: 302px;
        padding: 22px 14px;
    }

    .top__menu-img {
        padding-right: 3px;
    }

    .top__menu-link {
        font-size: 13px;
    }

    .top__menu_button {
        font-size: 13px;
    }

    .news__card {
        max-width: 250px;
    }

    .news__img img {
        max-width: 250px;
    }

    .lawyers-swiper {
        width: 250px;
    }

    .lawyers__img img {
        width: 250px;
    }

    .lawyers__name {
        width: 218px;
        padding-left: 16px;
    }

    .lawyers__item:hover>.lawyers__content>.lawyers__name {
        padding: 40px 0;
    }

    .lawyers__item:hover>.lawyers__content>.lawyers__name>.lawyers__span-hidden:before {
        padding: 20px 16px;
        width: 100%;
    }

    .news__date-hr {
        width: 140px;
    }
}

@media (max-width: 338px) {
    .active-modal {
        left: 3%;
    }
}