@media (max-width: 1024px) {
    .services__span { 
font-weight: 300;
-ms-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
overflow: hidden;
-ms-line-clamp: 2;
-webkit-line-clamp: 2;
line-clamp: 2;
display: -webkit-box;
display: box;
word-wrap: break-word;
-webkit-box-orient: vertical;
box-orient: vertical;
}
.swiper {
    max-width: 944px;
    margin: 0 69px 0 69px;
}
}