@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    transition: all 0.4s ease;
}

main {
    padding: 80px 0px 80px 0px;
}

.menu {
    background-color: #010101;
    padding: 16px 69px 16px 69px;
}

.top__menu {
    display: flex;
    justify-content: space-between;
}

.top__menu__contacts {
    display: flex;
    gap: 28px;
}

.top__menu-icon {
    display: flex;
    align-items: center;
}

.top__menu-img {
    padding-right: 8px;
    align-items: center;
}

.top__menu-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.top__menu_button {
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #4F8FF0;
    background-color: #010101;
}

.top__menu_button:hover {
    color: #E6E6E6;
    cursor: pointer;
}

.main__menu {
    background-image: url(../img/header/menu__bg.svg);
}

.main__menu__content {
    background-color: rgba(1, 1, 1, 0.76);
    display: flex;
    justify-content: space-between;
    padding: 20px 69px 28px 69px;
}

.main__menu-par {
    color: #4F8FF0;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.main__menu-span {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: lowercase;
    color: #FFFFFF;
}

.main__menu-list {
    list-style: none;
    display: flex;
    gap: 32px;
    padding-top: 20px;
}

.main__menu-list>li>a {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}

.main__menu-list>li>a:hover {
    text-decoration-line: underline;
    color: #4F8FF0;
}

.main__content {
    text-align: center;
    padding: 150px 0 150px 0;
}

.main__content-subtitle {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 300;
    line-height: 150%;
    text-transform: uppercase;
}

.main__content-title {
    color: #4F8FF0;
    font-size: 56px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    padding: 8px 0 8px 0;
}

.main__content-par {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    width: 1090px;
    margin: 0 auto;
}

.main__content-btn {
    display: flex;
    justify-content: center;
    padding: 48px 0 80px 0;
}

.main__content-link {
    border: 2px solid #4F8FF0;
    background: #4F8FF0;
    padding: 16px 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
}

.main__content-link:hover {
    border: 2px solid #4F8FF0;
    background: #FFFFFF;
    color: #4F8FF0;
}

.services {
    text-align: center;
    margin: 0px 69px 0 69px;
}

.services__title, .lawyers__title {
    color: #222222;
    font-size: 28px;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.services__hr, .lawyers__hr {
    background-color: #4F8FF0;
    margin: 0 auto;
    width: 50px;
    height: 3px;
}

.services__par, .lawyers__par {
    margin: 0 auto;
    width: 920px;
    padding: 24px 0px 48px 0px;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.services__card {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin: 0 80px 0 80px;
}

.services__item {
    display: grid;
    gap: 10px;
    padding: 50px 32px;
    background-color: #FFFFFF;
    transition: all .5s ease;
}

.services__item:hover {
    background-color: #4F8FF0;
    /* background-image: url(../img/services/hover_border.svg); */
    cursor: pointer;
}

.services__item:hover>.services__content>.services__subtitle { 
    color: #FFFFFF;
}
.services__item:hover>.services__content>.services__span { 
    color: #FFFFFF;
}

.services__item:hover>.services__subtitle {
    color: #FFFFFF;
}

.services__item:hover>.services__span {
    color: #FFFFFF;
}

.services__item:hover .services__img svg path {
    fill: #FFFFFF;
}

.services__img {
    display: flex;
    margin: 0 auto;
    padding-bottom: 5px;
}

/* added new div for services card */
.services__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    text-align: center;
    max-width: 360px;
}


.services__subtitle {
    color: #222222;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 150%;
}

.services__span {
    max-width: 360px;
    color: #222222;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

@media (max-width: 1024px) {
    .services__span { 
font-weight: 300;
-ms-text-overflow: ellipsis;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
overflow: hidden;
-ms-line-clamp: 2;
-webkit-line-clamp: 2;
line-clamp: 2;
display: -webkit-box;
display: box;
word-wrap: break-word;
-webkit-box-orient: vertical;
box-orient: vertical;
}
}



.about__company {
    background-color: #FFFFFF;
    display: flex;
    padding: 80px 0 80px 0;
    justify-content: space-evenly;
}

.about__company__content {}

.about__company-titlle {
color: #222222;
font-size: 28px;
font-weight: 800;
line-height: 150%;
text-transform: uppercase;
padding-bottom: 10px;
}
.about__company-span {
    color: #4F8FF0;
}
.about__company-hr {
    width: 50px;
    height: 3px;
    background-color: #4F8FF0;
    display: flex;
    justify-content: start;
}
.about__company-par {
    width: 720px;
    padding-top: 24px;
color: #222222;
font-size: 16px;
font-weight: 400;
line-height: 150%;
}
.about__company__links {
    display: flex;
align-items: flex-start;
gap: 24px;
margin-top: 32px;
}

.about__company__links>a {
    padding: 16px 24px;
    text-align: center;
font-size: 14px;
font-weight: 900;
line-height: 120%;
text-transform: uppercase;
}
.about__company__links>a:hover {
    background-color: #FFFFFF;
}

.about__company-link {
    border: 2px solid #4F8FF0;
background-color: #4F8FF0;
}

.about__company-link:hover {
    color: #4F8FF0;
} 

.about__company-reference {
    border: 2px solid #E6E6E6;
background-color: #E6E6E6;
color: #222222;
}

.lawyers {
    background-color: #F7F7F7;
    padding: 80px 0px 80px 0px;
}
.lawyers__content {
    text-align: center;
}