@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    overflow-x: hidden;
    text-wrap: balance;
}

.header-active {
    opacity: 0.3;
}

.body-active {
    overflow: hidden;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

button {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
}

main {
    background-color: #F7F7F7;
    padding-top: 80px;
}

.menu {
    background-color: #010101;
    padding: 16px 69px 16px 69px;
}

.top__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
}

.top__menu__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 28px;
}

.top__menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top__menu-adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top__menu-img {
    padding-right: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top__menu-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.top__menu-icon:hover>img {
    -webkit-transform: scale(1) translate(10%, 10%);
    -ms-transform: scale(1) translate(10%, 10%);
    transform: scale(1) translate(10%, 10%);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.top__menu-adaptive:hover>img {
    -webkit-transform: scale(1) translate(10%, 10%);
    -ms-transform: scale(1) translate(10%, 10%);
    transform: scale(1) translate(10%, 10%);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.top__menu-link:hover {
    text-decoration: underline;
    color: #4F8FF0;
}

.top__menu_button {
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: #4F8FF0;
    background-color: #010101;
}

.top__menu_button:hover {
    color: #E6E6E6;
    cursor: pointer;
}

.modal {
    max-width: 625px;
    padding: 32px 42px;
    background-color: #F7F7F7;
    border: 2px solid #4F8FF0;
    display: none;
}

.modal__footer {
    display: none;
    max-width: 625px;
    padding: 40px 42px;
    background-color: #F7F7F7;
    border: 2px solid #4F8FF0;

}

.active-footer {
    display: block;
    z-index: 10000;
    position: fixed;
    bottom: 21%;
    left: 60%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.footer-active {
    opacity: 0.3;
}

.active-modal {
    display: block;
    position: absolute;
    z-index: 10000;
    margin: 0 auto;
    width: auto;
    top: 30%;
    right: 20px;
    left: 20px;
}

.modal__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.modal__close {
    display: block;
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
}

.modal__footer-close {
    display: block;
    position: absolute;
    left: 91%;
    top: 2%;
    cursor: pointer;
}

.modal__title {
    color: #222222;
    font-size: 28px;
    font-weight: 800;
    line-height: 42px;
    text-transform: uppercase;
    padding-bottom: 24px;
}

.modal__footer-title {
    color: #222222;
    font-size: 22px;
    font-weight: 800;
    line-height: 40px;
    text-transform: uppercase;
}

.modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
}

.form__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}

.form__footer {
    padding-top: 22px;
}

.modal__footer-figure {
    padding: 14px 0px;
}

.footer__figcaption {
    color: #222222;
}

.footer__figcaption span {
    width: 320px;
}

.form__footer-question textarea {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #4F8FF0;
    resize: none;
    color: rgb(140, 140, 140);
    font-size: 14px;
    font-weight: 400;
    line-height: 14.4px;
    padding: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    color: #222222;
}

textarea::-webkit-input-placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.4px;
}

textarea::-moz-placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.4px;
}

textarea:-ms-input-placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.4px;
}

textarea::-ms-input-placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.4px;
}

textarea::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 500;
    line-height: 14.4px;
}

.form__footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.form__footer-name, .form__footer-number {
    width: 100%;
}

#footer-name, #footer-phone {
    border: 1px solid #4F8FF0;
    border-radius: 6px;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 14.4px;
    padding: 12px;
    color: #222222;
}


.form__name, .form__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 14px;
}

.form__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
}

.form__label {
    color: #222222;
    text-align: end;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
}

input[type="text"], input[type="tel"] {
    padding: 8px;
    border: none;
    background-color: #F7F7F7;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #8C8C8C;
}

.form__label::after {
    content: '*';
    color: #e61919;
    margin-left: 2px;
}

input::-webkit-input-placeholder {
    padding: 4px 8px 4px 0px;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

input::-moz-placeholder {
    padding: 4px 8px 4px 0px;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

input:-ms-input-placeholder {
    padding: 4px 8px 4px 0px;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

input::-ms-input-placeholder {
    padding: 4px 8px 4px 0px;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

input::placeholder {
    padding: 4px 8px 4px 0px;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

input[type="checkbox"] {
    margin-right: 4px;
}

.form__agree {
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.form__link {
    color: #4F8FF0;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline;
}

.form__btn {
    padding: 16px 24px;
    border: 2px solid #4F8FF0;
    background-color: #4F8FF0;
    color: #FFFFFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.footer-btn {
    border-radius: 6px;
}

.form__btn:hover {
    border: 2px solid #4F8FF0;
    background: #FFFFFF;
    color: #4F8FF0;
    cursor: pointer;
}

.main__menu {
    background-image: url(../img/header/menu__bg.webp);
    background-size: cover;
}

.main__menu__content {
    background-color: rgba(1, 1, 1, 0.76);
    padding: 20px 69px 28px 69px;
}

.main__menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
}

.menu {
    overflow: hidden;
}

.sticky {
    position: fixed;
    z-index: 20000;
    top: 0;
    width: 100%;
}

.sticky+.services-sticky {
    padding-top: 200px;
}

.main__menu-par {
    color: #4F8FF0;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.main__menu-span {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: lowercase;
    color: #FFFFFF;
}

.main__menu-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    /* padding-top: 20px; */
}

.main__menu-list>li>a {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

}

.main__menu-list>li>a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #4F8FF0;
}

.open {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.menu__burger {
    display: none;
    position: relative;
    z-index: 5000000000000;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 18px;
}

.menu__burger span {
    width: 80%;
    height: 2px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #FFFFFF;
}

.menu__burger::before, .menu__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.menu__burger::before {
    top: 0;
}

.menu__burger::after {
    bottom: 0;
}

.menu__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.menu__burger.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
    -ms-transform: rotate(-45deg) translate(0, -50%);
    transform: rotate(-45deg) translate(0, -50%);
}

.menu__burger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
    -ms-transform: rotate(45deg) translate(0, 50%);
    transform: rotate(45deg) translate(0, 50%);
}

.main__content {
    text-align: center;
    padding: 150px 69px;
}

.main__content-subtitle {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 300;
    line-height: 150%;
    text-transform: uppercase;
}

.main__content-title {
    color: #4F8FF0;
    font-size: 56px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    padding: 8px 0 8px 0;
}

.main__content-par {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    width: 1090px;
    margin: 0 auto;
}

.main__content-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 48px 0 80px 0;
}

.main__content-link, .news-btn-link {
    border: 2px solid #4F8FF0;
    background: #4F8FF0;
    padding: 16px 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
    -webkit-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.main__content-link:hover, .news-btn-link:hover {
    border: 2px solid #4F8FF0;
    background: #FFFFFF;
    color: #4F8FF0;
}

.services {
    text-align: center;
    margin: 0px 69px 0 69px;
}

.services__title, .lawyers__title {
    color: #222222;
    font-size: 28px;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.services__hr, .lawyers__hr {
    background-color: #4F8FF0;
    margin: 0 auto;
    width: 50px;
    height: 3px;
}

.services__par, .lawyers__par, .news__par {
    margin: 0 auto;
    max-width: 920px;
    padding: 24px 0px 48px 0px;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

.services__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 80px 0 80px;
}

.services__item {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    padding: 50px 32px;
    background-color: #FFFFFF;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.services__item:hover {
    background-color: #4F8FF0;
    cursor: url(../img/lawyers/cursor.svg), auto;
}

.services__item:hover>.services__content>.services__subtitle {
    color: #FFFFFF;
}

.services__item:hover>.services__content>.services__span {
    color: #FFFFFF;
}

.services__item:hover>.services__subtitle {
    color: #FFFFFF;
}

.services__item:hover>.services__span {
    color: #FFFFFF;
}

.services__item:hover .services__img svg path {
    fill: #FFFFFF;
}

.services__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding-bottom: 5px;
}

/* added new div for services card */
.services__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    gap: 10px;
    text-align: center;
    max-width: 360px;
}


.services__subtitle {
    color: #222222;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 150%;
}

.services__span {
    max-width: 360px;
    color: #222222;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.about__company {
    background-color: #FFFFFF;
    padding: 80px 69px;
}

.about__container {
    max-width: 1320px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about__company-title, .reviews__title, .news__title {
    color: #222222;
    font-size: 28px;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.about__company-span {
    color: #4F8FF0;
}

.about__company-hr, .reviews-hr, .news__hr {
    width: 50px;
    height: 3px;
    background-color: #4F8FF0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about__company-par {
    width: 720px;
    padding-top: 24px;
    color: #222222;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.about__company__links, .reviews__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 24px;
    margin-top: 32px;
}

.about__company__links>a, .reviews__links>a {
    padding: 16px 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    line-height: 120%;
    text-transform: uppercase;
}

.about__company__links>a:hover, .reviews__links>a:hover {
    background-color: #FFFFFF;
}

.about__company-link, .reviews__link {
    border: 2px solid #4F8FF0;
    background-color: #4F8FF0;
}

.about__company-link:hover, .reviews__link:hover {
    color: #4F8FF0;
}

.about__company-reference, .reviews__reference {
    border: 2px solid #E6E6E6;
    background-color: #E6E6E6;
    color: #222222;
}

.lawyers {
    background-color: #F7F7F7;
    padding: 80px 0px 80px 0px;
}

.lawyers__description, .news__description {
    text-align: center;
}

.lawyers__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 24px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.lawyers__item {
    background-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.lawyers__content {
    width: 312px;
}

.lawyers__item:hover {
    border: 1px solid #4F8FF0;
    cursor: url(../img/lawyers/cursor.svg), auto;
}

.lawyers__item:hover>.lawyers__content>.lawyers__img {
    background-color: #FFFFFF;
    display: none;
}

.lawyers__item:hover>.lawyers__content>.lawyers__name {
    padding: 83px 0;
    -webkit-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}

.lawyers__item:hover>.lawyers__content>.lawyers__name>.lawyers__subtitle,
.lawyers__item:hover>.lawyers__content>.lawyers__name>.lawyers__post {
    text-align: center;
}

.lawyers__item:hover>.lawyers__content>.lawyers__name>.lawyers__span-hidden:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 40px 0px;
    width: 265px;
    color: #000000;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    content: 'Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.'
}

.lawyers__item:hover>.lawyers__content>.lawyers__name>.lawyers__par-hidden:before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    content: '12 лет юридической практики';
    color: #222222;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
}

.lawyers__name {
    display: -ms-grid;
    display: grid;
    padding: 24px 0px;
    gap: 10px;
}

.lawyers__subtitle {
    color: #222222;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.lawyers__post {
    color: #222222;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    text-transform: lowercase;
}

.lawyers-swiper {
    width: 312px;
    height: 414px;
}

.swiper {
    max-width: 1344px;
}

.reviews {
    background-color: #D9D9D9;
    background-image: url(../img/reviews/bg.svg);
    background-position: center;
    background-size: cover;
    padding: 80px 69px;
}

.reviews__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 48px;
}

.reviews__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* swiper reviews */

.swiper__reviews {
    max-width: 1324px;
}

.reviews__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.swiper__item {
    margin-left: 3px;
    /* width: 648px; */
}

.swiper-button, .swiper-button-arrow {
    cursor: pointer;
}

.reviews__item {
    padding: 32px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
    box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.reviews__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reviews__user-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reviews__par {
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
}

.reviews__subject {
    color: #222222;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
}

.reviews__text {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.reviews__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 229px;
}

.news {
    background-color: #FFFFFF;
    padding: 80px 0px;
}

.news__hr, .news__par {
    margin: 0 auto;
}

.news__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
}

.news__cards {
    /* display: flex; */

}

.news__card {
    background-color: #FFFFFF;
    max-width: 424px;
    gap: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.news__img img:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    cursor: url(../img/news/white_cursor.svg), auto;
    /* zoom: 1.02; */
}

news__img-mountains {
    max-width: 424px;
    max-height: 270px;
}

.news__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
}

.news__subtitle {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.news__date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.news__date-par {
    color: #222222;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.4px;
}

.news__date-hr {
    width: 314px;
    height: 1px;
    background-color: #F8F5F4;
}

.news__text {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
}

.news-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 48px;
}

.footer {
    padding: 80px 69px;
    background-color: #222222;
}

.footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer__logo-heading {
    color: #4F8FF0;
    font-size: 28px;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
}

.footer__logo-span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    line-height: 150%;
    text-transform: lowercase;
}

.footer__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__subtitle {
    max-width: 862px;
    color: #F8F5F4;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    text-transform: lowercase;
}

.footer__hr {
    opacity: 0.2;
    background-color: #8C8C8C;
    width: 1320px;
    height: 1px;
    margin: 0 auto;
}

.footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 48px;
}

.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
}

.footer__item {
    text-align: start;
    gap: 24px;
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__icon {
    background-color: #2C2C2C;
    padding: 12px;
    width: 55px;
}

.footer__icon img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer__connection {}

.footer__connection-par {
    color: #8C8C8C;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.4px;
    text-transform: uppercase;
}

.footer__connection-link {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.footer__connection-link:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.footer__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
}

.footer__list>li {
    list-style-type: none;
}

.footer__list>li>a {
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-transform: uppercase;
}

.footer__list>li>a:hover {
    color: #4F8FF0;
}

.footer__support {}

.footer__support-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
}

.footer__figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
}

figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

figcaption>span {
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
}

.footer__support-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
}

.footer__support-par {
    max-width: 424px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.footer__btn {
    font-family: 'Nunito Sans', sans-serif;
    width: 261px;
    border: 2px solid #4F8FF0;
    background-color: #4F8FF0;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    line-height: 16.8px;
    text-transform: uppercase;
    padding: 16px 24px;
    cursor: pointer;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.footer__btn:hover {
    color: #4F8FF0;
    background-color: #FFFFFF;
}

.copyright {
    background-color: #181818;
    padding: 16px 69px;
}

.copyright__container {
    width: 1320px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.copyright__par, .copyright__link {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.copyright__link:hover {
    text-decoration: underline;
    color: #4F8FF0;
}